.blind {
  display: none;
}
/* ================================
   전체 레이아웃 (PC 좌우 분할 구조)
================================ */
.content-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray-100);
  justify-content: center;
  gap: 80px;
}

.detail-page-wrapper .footer {
  margin-top: 0;
}

.cart-section .footer {
  padding-bottom: 100px;
  margin-top: 100px;
}
.detail-page-wrapper .footer {
  padding-bottom: 100px;
}
.mypage-section .footer {
  margin-top: 100px;
}

.detail-page-wrapper input[type="radio"] {
  display: none;
}

.detail-page-wrapper input[type="checkbox"] {
  display: none;
}

.sub-container {
  padding: 100px var(--section-padding) 0;
  box-sizing: border-box;
  min-height: 60vh;
}

.sub-container.is-empty {
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
}
.sub-container h1 {
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  text-align: center;
  margin-bottom: var(--space-40);
}

.sub-container p {
  text-align: center;
  font-weight: var(--weight-medium);
  line-height: 1.6;
}

.positive {
  color: var(--accent-blue);
}

.negative {
  color: var(--accent-red);
}

/*페이지네이션*/
.paginate {
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
  align-items: center;
  gap: var(--space-6);
}

.paginate button {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
}

.paginate button.first {
  background: url("/images/icon_page_first.png");
  background-size: contain;
}

.paginate button.prev {
  background: url("/images/icon_arrow_l.png");
  background-size: contain;
}

.paginate button.next {
  background: url("/images/icon_arrow_r.png");
  background-size: contain;
}

.paginate button.last {
  background: url("/images/icon_page_last.png");
  background-size: contain;
}

.paginate ol {
  display: flex;
  align-items: center;
  margin: 0 var(--space-4);
}

.paginate ol li {
}

.paginate ol li .page-num {
  width: 30px;
  display: inline-block;
  text-align: center;
  font-size: var(--font-sm);
  color: var(--gray-300);
  font-weight: var(--weight-medium);
  border: none;
}

.paginate ol li .page-num.selected {
  color: var(--font-color);
  font-weight: var(--weight-semibold);
}

/* ================================
   2. COMMON COMPONENTS (Buttons, Layout)
================================ */
.btn {
  font-weight: var(--weight-semibold);
  font-size: var(--font-default);
  padding: 0 var(--space-32);
  border-radius: var(--radius-sm);
  border: none;
  line-height: 50px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  height: 50px;
}

.btn.sm {
  display: inline-block;
  font-size: var(--font-xs);
  font-weight: var(--weight-semibold);
  height: auto;
  padding: 13px 10px;
  font-family: var(--font-default);
  min-width: 70px;
  line-height: 1;
}

.btn-primary {
  background: var(--primary-yellow);
}

.btn-primary-disabled {
  background-color: var(--gray-200);
  color: var(--gray-500);
  cursor: not-allowed; /* 클릭 불가능 커서 표시 */
  pointer-events: none; /* 호버나 클릭 이벤트 완전 차단 */
}

.btn-primary:hover {
  background: var(--primary-yellow-dark);
}
.btn-primary:active {
  background: var(--primary-yellow-active);
}
.btn-gray {
  background: var(--gray-100);
  color: var(--text-black);
}

.btn-gray:hover {
  background: var(--gray-200);
}
.btn-gray:active {
  background: var(--gray-300);
}
.btn-black {
  background: var(--gray-800);
  color: #fff;
}

.btn-black:hover {
  background: var(--font-color);
}

.text-btn a {
  color: var(--primary-brown);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-xs);
  font-weight: var(--weight-semibold);
}

.text-btn a img {
  width: 12px;
}

.en-title {
  font-family: var(--font-point);
}

@media (max-width: 1024px) {
  .header,
  #mobile-menu {
    padding-left: 0;
  }

  .content-wrapper {
    gap: 0;
  }
  .banner-section {
    display: none;
  }

  .fixed-bottom-bar,
  .sideMenu {
    left: 50%;
    transform: translateX(-50%);
  }

  .option-popup-layer {
    left: calc(50% - 214px);
  }
}
@media (max-width: 428px) {
  .fixed-bottom-bar {
    width: 100%;
  }
  .option-popup-layer {
    width: 100%;
    left: 0;
  }
  .content-wrapper {
    gap: 0;
  }
}

.badge {
  font-size: var(--font-xxs);
  font-weight: var(--weight-semibold);
  padding: var(--space-6) var(--space-8);
  border-radius: var(--radius-sm);
  width: fit-content;
}

.badge.pending {
  background: var(--gray-100);
  color: var(--font-color);
}

.badge.completed {
  color: #fff;
  background: var(--accent-blue);
}

.badge.payment {
  background: var(--accent-green);
  color: #fff;
}
