.footer {
  background: var(--gray-100);
  padding: 30px var(--section-padding) 50px;
}

.footer .footer-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .footer-inner .footer-logo {
  height: 24px;
  width: auto;
}

.footer .footer-inner .footer-logo img {
  height: 100%;
  width: auto;
}

.footer .footer-inner .footer-content p {
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--gray-700);
}
